
.root {
    -fx-background-color: #303030;
}


.title-label {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}


.text-field {
    -fx-font-size: 14pt;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: #AAA;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}


.button {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
    -fx-background-color: #B5B2B2;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}


.button:hover {
    -fx-background-color: #9da1aa;
}


.button:pressed {
    -fx-background-color: #6c6874;
}


.radio-button {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-padding: 5px;
}


.radio-button .radio {
    -fx-background-color: #B5B2B2;
    -fx-background-radius: 50%;
    -fx-border-color: #B5B2B2;
    -fx-border-radius: 50%;
    -fx-border-width: 2px;
}


.radio-button:selected .radio {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #B5B2B2;
}


.text-area {
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-text-fill: white;
    -fx-control-inner-background: #333333;
    -fx-focus-color: #333333;
    -fx-background-color: #333333;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

.combo-box .list-cell {
    -fx-font-size: 9pt;
    -fx-font-family: "Helvetica Neue", Helvetica, sans-serif;
    -fx-text-fill: white;
    -fx-background-color: #333333;
}

.combo-box .arrow {
    -fx-background-color: #333333;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}

.combo-box .arrow:hover {
    -fx-background-color: #444444;
}


.label {
    -fx-text-fill: white;
}
